body{
    background: rgb(0, 0, 22);
    color: white;
    margin: 0px;
    margin-top: 10px;
}

div{
    -border: 1px gray dashed;
    -padding: 1px;
}
.row{
    margin: 0px;
}
.dateDivs{
    width: fit-content;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    transition: 0.1s ease-in;
}
.dateDivs:hover{
    color: rgb(167, 163, 194);
}
.roverChDiv{
    height: 400px;
}
.roverImg{ 
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.15s ease-in;
    background-position: center;
}
.roverChLabel{
    padding-top: 125px;
}
.roverChLabel > div{
    border-bottom: 1px gray solid;
    -width: 200px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.1s ease-in;
}
.roverChLabel > div:hover{
    color:rgb(115, 117, 185);
}

.slide-fade-enter-active {
    transition: all .8s ease;
}
.slide-fade-leave-active {
    display: none;
}
.slide-fade-enter, .slide-fade-leave-to{
    transform: translateX(10px);
    opacity: 0;
}
.roverDiscription{
    text-align: justify;
}
.marginStep{
  margin-top: 30px;
}
.divPhoto{
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 100%;
    height: auto;
    -padding-top: 100%;
    transition: 0.2s ease-in;  
    cursor: pointer;  
}
.divPhotoLabl{
    overflow:hiden;
    position:absolute;
    width: 100%;
    text-align: center;
    top: 0px;
    left: 0px;
    height: 30px;
    line-height: 30px;
    font-size: 15pt;
    background-color: rgba(31, 31, 31, 0.37);
    color: white;
    
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.divPhotoContainer{
    position:relative;
    padding: 0px;
}
.divPhotoContainer > div{
    padding: 10px;
    transition: 0.1s ease-in;
}
.divPhotoContainer > div:hover{
    padding: 0px;
}
div.imgFullSize{
  width: calc(100% - 20px);
  height: calc(100% - 100px);
}
.imgFullSize{
  position: absolute;
  transition: 0.1s ease-in;
}
.imgFullCont{
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.445);
  z-index: 10000;
}
.imgFullSizeNull{
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  cursor: pointer;
  -pointer-events: none;
}
.pageLine{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
}
.pageElem > p{
    background-color: rgb(30, 28, 92);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    border: 1px black solid;
    width: 65px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
}
.panelTool{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px !important;
    width: 100% !important;
    bottom: -100px;
    background-color: rgba(5, 5, 5, 0.699);
}
.buttonTool{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px rgba(40, 40, 40, 0.699) solid;
    border-radius: 5px;
    background-color: rgba(5, 5, 5, 0.699);

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

    transition: 0.1s ease-in;
}
.buttonTool > i{
    font-size: 2.5em;
}
.buttonTool:hover{
    background-color: rgba(9, 9, 46, 0.699);
    border: 1px rgba(26, 26, 117, 0.699) solid;
}
.buttonTool:active{
    background-color: rgba(0, 0, 0, 0.699);
}
.buttonToolEmpt{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    height: 70px;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;

}
