body{
    background: rgb(0, 0, 22);
    color: white;
    margin: 0px;
    margin-top: 10px;
}

div{
    -border: 1px gray dashed;
    -padding: 1px;
}
.row{
    margin: 0px;
}
.dateDivs{
    width: fit-content;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    transition: 0.1s ease-in;
}
.dateDivs:hover{
    color: rgb(167, 163, 194);
}