body{
    background: rgb(0, 0, 22);
    color: white;
    margin: 0px;
    margin-top: 10px;
}

div{
    -border: 1px gray dashed;
    -padding: 1px;
}
.row{
    margin: 0px;
}
.dateDivs{
    width: fit-content;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    transition: 0.1s ease-in;
}
.dateDivs:hover{
    color: rgb(167, 163, 194);
}
.roverChDiv{
    height: 400px;
}
.roverImg{ 
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.15s ease-in;
}
.roverChLabel{
    padding-top: 125px;
}
.roverChLabel > div{
    border-bottom: 1px gray solid;
    -width: 200px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.1s ease-in;
}
.roverChLabel > div:hover{
    color:rgb(115, 117, 185);
}

.slide-fade-enter-active {
    transition: all .8s ease;
  }
  .slide-fade-leave-active {
    display: none;
  }
  .slide-fade-enter, .slide-fade-leave-to{
    transform: translateX(10px);
    opacity: 0;
  }
  .roverDiscription{
      text-align: justify;
  }
  .marginStep{
      margin-top: 30px;
  }